<%- include('../../partials/head.ejs') %>
<body>
    <%- include('../../partials/navbar_user.ejs') %>
    <main class="hero is-primary is-normal">
        <div class="hero-body">
            <div class="container">
                <div class="lds-dual-ring"></div>
                <div class="columns is-vcentered is-centered">
                    <div class="column has-text-centered">
                        <img class="presentation" src="/img/adm.svg" alt="">
                    </div>
                    <div class="column has-text-centered-mobile">
                        <div class="content">
                            <p class="title">Painel de administração</p>
                            <p class="subtitle">Tenha acesso ao fluxo de usuários do sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section">
        <div class="container">
            <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth has-text-centered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Data de criação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (users.length > 0) { %>
                                <% users.forEach(user => { %>
                                    <tr>
                                        <td data-label="Nome"> <%= user.name %> </td>
                                        <td data-label="E-mail"> <%= user.email%> </td>
                                        <td data-label="Data de criação"> <%= user.createdAt %> </td>
                                        <td class="is-actions-cell is-justify-content-center">
                                            <form action="/users/delete/<%= user.id %>" method="post">
                                                <button class="button is-centered is-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr class="is-empty">
                                    <td colspan="7">
                                        <section class="my-4">
                                            <div class="content has-text-grey has-text-centered">
                                                <p>
                                                    <span class="icon is-large">
                                                        <i class="fas fa-sad-cry is-size-1"></i>
                                                    </span>
                                                </p>
                                                <p>Nenhum usuário cadastrado...</p>
                                            </div>
                                        </section>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="section is-primario">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading has-text-weight-bold">
                        Usuários Registrados
                    </p>
                    <p class="title">
                        <%= count %>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading has-text-weight-bold">
                        Usuários Ativos
                    </p>
                    <p class="title contador">
                        0
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/f4d0ea89b3.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.on('atualizaContador', (data) => {
            const contador = document.querySelector('.contador')
            contador.innerHTML = data.contador
        })
    </script>
    <%- include('../../partials/footer.ejs') %>
</body>

</html>